# ignore build artifacts
Debug/
Release/
x64/
# exception for static libraries using the x64 platform shortname
!thirdparty/**/lib/x64/

# ignore Visual Studio (Code) cruft
.tlog/
.vs/
.vscode/

*.vcxproj.user

# ignore common build artifacts
*.obj
*.pdb
*.idb
*.log
